*.pyc
*.sqlite
ignore
venv
owner_setup.py
player_setup.py
calvinball.wsgi
draft_setup.py
migrations-test
.app_tokens
.bash_history
BotLog.txt
access.log
crontab
data-dev2.sqlite.backupagain
error.log
qbTrackerTest.py
tokens.py
local_settings.py
.idea
venv3
settings.json