#mainContent {
  padding-top: 45px;
}

.playerName {
  width: 30%;
  min-width: 160px;
  text-align: left;
}

.playerStatus {
  min-width: 50px;
}

.playerItem {
  min-width: 70px;
}

.myBrandImg {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-bottom: 10px;
}

.myBrand {
  font-size: 18px;
  vertical-align: middle;
}

#my {
  margin-bottom: 0px;
}

.pastChamps {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.banner {
  margin-top: 10px;
  width: 400px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
