{% extends "base.html" %}

{% block title%}Calvinball Fantasy Football{% endblock %}

{% block page_content %}

<div class="col-sm-6">
<!-- <img src="{{ url_for('static', filename='images/')}}{{ logo_url }}"> -->
<h1>Uh Oh...</h1>
    <p>Something went wrong on the server code Danny wrote.  He's the worst.</p>
    <p>However, if you're on your phone, especially if you're on an iPhone, there's a good chance you can fix this.  Try logging out by going to the link below and see if that fixes it.  If you got to this page and you're not on an iPhone or using Safari on a Mac, let Danny know in Slack or text him or call him.  </p>
    <p><a href="http://www.qtozero.com/logout">http://www.qtozero.com/logout</a></p>
</div>  

{% endblock %}}



