{% extends "bootstrap/base.html" %}

{% block title %}Calvinball{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}">

{% endblock %}
{% block styles %}
{# {{super()}} #}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.superhero.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/my.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Calvinball</a> -->
            <div class="nav navbar-nav navbar-left">
            <a style="background-image: url('{{ url_for('static', filename='images/logo.png') }}')" class="navbar-brand myBrandImg" href="#"></a><span class="navbar-brand myBrand">The Clubhouse</span></div>
        </div>
        <div class="navbar-collapse collapse">
            <ul style="padding-left:70px; font-size:1.2em;" class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.keepers') }}">Keepers</a></li>
                <li><a href="#">Manage CAB</a></li>
                <!-- <li><a href="#">Manage Trades</a></li> -->
                <!-- <li><a href="#">Forum</a></li> -->
                <li><a href="{{ url_for('main.contacts') }}">GM Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.logout') }}">Log Out</a></li>
                {# {% else %}
                <li><a href="{{ url_for('main.login') }}">Log In</a></li> #}
                {% endif %}
            </ul>
        </div>
        {# <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.logout')}}">Log Out</a></li>
                {% else %}
                <li><a href="#">Log In</a></li>
                {% endif %}
            </ul>
        </div> #}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row" id='mainContent'>
		<div class="col-sm-3 hidden-xs">
			<a href="#"><img src="{{ url_for('static', filename='images/sidebanner.png') }}"></a>
			<a href="#"><img src="{{ url_for('static', filename='images/sidebanner_champions.png') }}"></a>
		</div>
    {% block page_content %}
        {% block messages %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% endblock %}
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
