{% extends "base.html" %}
{% block title%}Calvinball Fantasy Football{% endblock %}
{% block page_content %}
  <div class="col-sm-9 col-xs-12">
  {% block messages %}{{super()}}{% endblock%}
  {% if biddingOn %}
    {# This is where the owners have set a bid and can see what their bid is #}
    {% if not madeBid %}
      {# Make the bidding section here #}
      <h1>Bid on Transition and Franchise Players</h1>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form method="POST" action="{{url_for('main.bidding')}}" role="form">
            <div class="col-sm-6 col-xs-12">
              {% if transPlayer %}
                <h2>Transition Player</h2>
                <fieldset class="form-group">
                  <h4>{{transPlayer.name}}, {{transPlayer.team}}
                  <small class="text-muted">Previous Contract: ${{transPlayer.salary}}</small>
                  </h4>
                  
                  <label for="transPlayerBid">Current Owner is {{transPlayer.owner.team_name}}</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {% if transPlayer.owner.id == session.get('owner').get('id') %}
                      <input type="hidden" class="form-control" name="transPlayerBid" id="transPlayerBid" placeholder="More than $20" value=0>
                      <div class="input-group-addon form-control">Cannot bid, this is your player.</div>
                    {% else %}
                      <input type="number" class="form-control" name="transPlayerBid" id="transPlayerBid" placeholder="More than $20" value=0 >
                    </div>
                    <label for="transBounty">What you give up if you win</label>
                    <div class="input-group">
                      <select id="transBounty" name="transBounty"class="form-control">
                        {% for pick in round2Picks%}<option value="{{pick}}">Round 2 Pick {{pick}}</option> {% endfor %}
                        {% if not round2Picks%}<option value="money">$20 Free Agent Acquisition Bucks (FAAB)</option>{% endif %}
                      </select>
                      
                    {% endif %} {# if trans player.owner == current owner#}
                    
                  </div>
                  <small class="text-muted"></small>
                </fieldset>
              {% else %}
                <h2>Transition Player</h2>
                <h4>No Transition Player up for bid</h4>
              {% endif %}
            </div>
            <div class="col-sm-6 col-xs-12">
              {% if franPlayer %}
                <h2>Franchise Player</h2>
                
                <fieldset class="form-group">
                  <h4>{{franPlayer.name}}, {{franPlayer.team}}
                  <small class="text-muted">Previous Contract: ${{franPlayer.salary}}</small>
                  </h4>
                  
                  <label for="franPlayerBid">Current Owner is {{franPlayer.owner.team_name}}</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {% if franPlayer.owner.id == session.get('owner').get('id')%}
                      <input type="hidden" class="form-control" name="franPlayerBid" id="franPlayerBid" placeholder="More than $30" value=0>
                      <div class="input-group-addon form-control">Cannot bid, this is your player.</div>
                    {% else %}
                      <input type="number" class="form-control" name="franPlayerBid" id="franPlayerBid" placeholder="More than $30" value=0 >
                    </div>
                    <label for="franBounty">What you give up if you win</label>
                    <div class="input-group">
                      <select id="franBounty" name="franBounty"class="form-control">
                        {% for pick in round1Picks%}<option value="{{pick}}">Round 1 Pick {{pick}}</option> {% endfor %}
                        {% if not round1Picks%}<option value="money">$10 Calvinball Auction Bucks (CAB)</option>{% endif%}
                      </select>
                    {% endif %}{# if fran player.owner == current owner#}
                  </div>
                  <small class="text-muted"></small>
                </fieldset>
              {% else %}
                <h2>Franchise Player</h2>
                <h4>No Franchise Player Up For Bid</h4>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </form>
        </div>
      </div>
    {% else %} {# bid has been made so show the current owner's bids#}
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Your bids on the current players</h1>
          <div class="col-sm-6 col-xs-12">
            <h2>Transition Player</h2>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Current Team</th>
                  <th>Last Years Contract</th>
                  <th>Current Bid</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{tBid.player.name}}</td>
                  <td>{{tBid.player.owner.team_name}}</td>
                  <td>${{tBid.player.salary}}</td>
                  <td>${{tBid.amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h2>Franchise Player</h2>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Current Team</th>
                  <th>Last Years Contract</th>
                  <th>Current Bid</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{fBid.player.name}}</td>
                  <td>{{fBid.player.owner.team_name}}</td>
                  <td>${{fBid.player.salary}}</td>
                  <td>${{fBid.amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <FORM METHOD="POST" ACTION="{{url_for('main.reset_bids')}}">
            <button type="submit" class="btn btn-primary btn-lg" style="margin-left:15px;">Reset Bids</button>
          </FORM>
        </div>
      </div>
    {% endif %} {# if not session.get('owner').get('madeBid')  #}
  {% else %} {# biddingOn == False #}
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <h1>Winning Bids</h1>
        <div class="col-sm-6 col-xs-12">
          <h3>Transition Player</h3>
        </div>
        <div class="col-sm-6 col-xs-12">
          <h3>Franchise Player</h3>
        </div>
      </div>
    </div>
  {% endif %} {# if biddingOn#}
</div>
{% endblock %}}