{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title%}Calvinball Fantasy Football{% endblock %}
{% block page_content %}

<div class="col-sm-5">
<img src="{{ url_for('static', filename='images/')}}{{ logo_url }}" width="400">
{% block messages %}{{super()}}{% endblock%}
<h1>Welcome to Calvinball 2016</h1>
<p>There are currently just a few things that this site take care off.  We are still going to be using myfantasyleague.com for our normal, day to day Calvinball during the National Football League (ne&egrave; NFL) season.  For 2016, if you don't have it all ready, that site is:</p>
<h4><a href="http://www55.myfantasyleague.com/2016/home/31348">http://www55.myfantasyleague.com/2016/home/31348</a></h4>
<p>So, what does this site do?  Mainly, two things.
</p>
<ol>
    <li>Select your keepers and tag Super Franchise, Franchise and Transition players</li>
    <li>Conduct the RFA bidding process one all the appropriate players have been kept/tagged</li>
</ol>
<p>
    So, its pretty self explanitory.  Go to the keepers tab and select your keepers and tag your players.  If you screw up or want to reconsider, you will be able to do that up until the cutoff date for selecting keepers.  Rule changes and updates were sent out in the <a href="https://docs.google.com/document/d/1K58qZlpAar7uQh9Ds_M_mjCDjILjercW-vBlyG9SQBo/edit?usp=sharing">June Newsletter</a>.  Go there if you have any questions about the rule changes.  
</p>
<p>
    On the Keepers page if you have a keeper from last year, his salary is updated and listed as a K1.  All other salaries listed are the players salaries at the end of the season last year.  If you want to keep a player, the salary this year is $5 more than whats listed, and next year another $5.
</p>
<p>
    All that said... Danny made this website so if its messed up you can harass him.  If you have any issues, let him know right away.  Don't tell Josh and expect him to be the messenger - tell Danny.  (You can tell Josh too, but he assumes no liablity in passing your message along.)
</p>
<p>
    You have until July 15 to select your keepers and place your tags.  Yeah, that's not too far away.  Deal.  And choose wisely.
</p>
<!-- <table class="table table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>NFL Team</th>
        <th>Salary</th>
        <th>Contract Status</th>
    </tr>
</thead>
<tbody>
    {% for player in roster|sort(reverse=True, attribute='salary') %}
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.team}}</td>
        <td>${{player.salary}}</td>
        <td>{{player.contractStatus}}</td>
    </tr>
    {% endfor %}
</tbody>
</table> -->

</div>  

{% endblock %}}



