{% extends "base.html" %}
{% block title%}Calvinball Fantasy Football{% endblock %}
{% block page_content %}

<div class="col-sm-9 col-xs-12">

{% block messages %}{{super()}}{% endblock%}
<div class="row">
    <div class="col-sm-12 col-xs-12"></div>
    <h1>Current Round Winning Bids</h1>
    <div class="col-sm-6 col-xs-12">
        <h2>Transition Player</h2>
        {% if transPlayer.owner.id == tBid.owner_bidding.id and not transitionDecisionMade %}
            <p>No one bid on {{transPlayer.name}}.  {{transPlayer.owner.name}} retains his services for $20.</p>
        {% else %}
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Highest Bidder</th>
                        <th>Winning Bid</th>
                        {# <th>Winning Bid Adjusted</th> #}
                        <th>Winning Team's Pick</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{tBid.player.name}}</td>
                        <td>{{tBid.owner_bidding.team_name}}</td>
                        <td>${{tBid.amount}}</td>
                        {# <td>${{tBid.winningAmount}}</td> #}
                        <td>Round 2 Pick #{{highestTransPick.pickInRound}}</td>
                    </tr>
                </tbody>
            </table>
            
            {% if transPlayer.owner.id == session.get('owner').get('id') %}
                <form method="POST" action="{{url_for('main.matchTrans') }}" role="form">
                    <div class="form-group">
                    <label for="franMatch">Select to keep the player at the given value or release him and recieve the stated compensation</label>
                    <select id="transMatch" name="transMatch" class="form-control">
                        <option value="match">{{tBid.player.name}} at ${{tBid.amount}}</option>
                        <option value="release">Round 2 Pick #{{highestTransPick.pickInRound}} and $10 FAAB</option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-lg">Submit Decision</button>
                    </div>
                </form>
            {% endif %}
            {% if transitionDecisionMade and transPlayer.previous_owner_id == session.get('owner').get('id') %}
                    <p>You made your choice for this player all ready.</p>
            {% endif %}
        {% endif %} {# If the player had no bids #}
    </div>
    <div class="col-sm-6 col-xs-12">
        <h2>Franchise Player</h2>
        {% if franPlayer.owner.id == fBid.owner_bidding.id and not franchiseDecisionMade %}
            <p>No one bid on {{franPlayer.name}}.  {{franPlayer.owner.name}} retains his services for $30.</p>
        {% else %}
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Highest Bidder</th>
                        <th>Winning Bid</th>
                        {# <th>Winning Bid Adjusted</th> #}
                        <th>Winning Team's Pick</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{fBid.player.name}}</td>
                        <td>{{fBid.owner_bidding.team_name}}</td>
                        <td>${{fBid.amount}}</td>
                        {# <td>${{fBid.winningAmount}}</td> #}
                        <td>Round 1 Pick #{{highestFranPick.pickInRound}}</td>
                    </tr>
                </tbody>
            </table>
        
            {% if franPlayer.owner.id == session.get('owner').get('id') %} {# Logged in owners player #}
                <form method="POST" action="{{url_for('main.matchFran') }}">
                    <div class="form-group">
                    <label for="franMatch">Select to keep the player at the given value or release him and recieve the stated compensation</label>
                    <select id="franMatch" name="franMatch" class="form-control">
                        <option value="match">{{fBid.player.name}} at ${{fBid.amount}}</option>
                        <option value="release">Round 1 Pick #{{highestFranPick.pickInRound}} and $5 CAB</option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-lg">Submit Decision</button>
                    </div>
                </form>
            {% endif %}
            {% if franchiseDecisionMade and franPlayer.previous_owner_id == session.get('owner').get('id') %}
                <p>You made your choice for this player all ready.</p>
            {% endif %}
        {% endif %}
    </div>
    </div>
</div>

</div>

{% endblock %}}