{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title%}Calvinball Fantasy Football{% endblock %}
{% block page_content %}
<style>
  div.input-group
  {
    margin-bottom: 10px;
  }
</style>
<div class="col-md-1"></div>
<div class="col-sm-9 col-xs-12">
<img src="{{ logo_url }}" width="400">
{% block messages %}{{super()}}{% endblock%}
<div class="row">
  <div class="col-lg-9 col-xs-12">
    <h1>Select Pro Bowl Roster</h1>
    <form method="POST" action="{{url_for('main.set_probowl_lineup')}}" role="form" >
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Select 1 Quarterback</div>
          <select id="QB" name="QB" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['QB'] %}
              <option {% if pb_roster and pb_roster.qb == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Select 2 Running Backs</div>
          <select id="RB1" name="RB1" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['RB'] %}
              <option {% if pb_roster and pb_roster.rb1 == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        <select id="RB2" name="RB2" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['RB'] %}
              <option {% if pb_roster and pb_roster.rb2 == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
          </div>
        <div class="input-group">
          <div class="input-group-addon">Select 3 Wide Receivers</div>
          <select id="WR1" name="WR1" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['WR'] %}
              <option {% if pb_roster and pb_roster.wr1 == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
          <select id="WR2" name="WR2" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['WR'] %}
              <option {% if pb_roster and pb_roster.wr2 == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
          <select id="WR3" name="WR3" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['WR'] %}
              <option {% if pb_roster and pb_roster.wr3 == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Select 1 Tight End</div>
          <select id="TE" name="TE" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['TE'] %}
              <option {% if pb_roster and pb_roster.te == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Select 1 Flex Player</div>
          <select id="FLEX" name="FLEX" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['FLEX'] %}
              <option {% if pb_roster and pb_roster.flex == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Select 1 Kicker</div>
          <select id="PK" name="PK" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['PK'] %}
              <option {% if pb_roster and pb_roster.pk == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Select 1 Defense/Special Teams</div>
          <select id="DEF" name="DEF" class="form-control">
            {% if not pb_roster %}<option selected></option>{% endif %}
            {% for player in players['Def'] %}
              <option  {% if pb_roster and pb_roster.dst == player.id %} selected {% endif %} value="{{ player.id }}">{{ player.name }} : {{ player.owner.team_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
  </div>
</div>
</div>

{% endblock %}}